body {
  background-color: #121926 !important;
  font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
}
.sky-header {
  background-color: #192d53 !important;
  padding: 12px !important;
}
.navbar-search {
  width: 300px !important;
}
.show {
  margin-bottom: 50px;
}
.navbar-brand {
  color: #fff !important;
  margin-left: 10px;
}
.fav-link {
  margin-right: 10px;
  color: #fff !important;
}
