.form-group {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
.search-box {
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 9999;
  right: 50px;
  left: 50px;
}
.content {
  margin-top: 60px;
}
.navbar-inverse {
  background-color: #337ab7 !important;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #fff !important;
}
